
.navbar img {
    width: 30px;
}

.cart img {
    width: 100px;
}

.cart .brand-price input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;

}

.cart .amount-price {
    border-radius: 5px;
}