.color-primary {
    color: $color-primary;
}

.color-primary-bg {
    background-color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-secondary-bg {
    background-color: $color-secondary;
}

.color-third {
    color: $color-third;
}

.color-third-bg {
    background-color: $color-third;
}

.color-forth {
    color: $color-forth;
}

.color-forth-bg {
    background-color: $color-forth;
}