/* LOGIN */
.login-register .card-body .for-label{
    font-size: 0.8em;
  }

.login-register .card-body input {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.login-register input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 0.7em;
  }
.login-register input::-moz-placeholder { /* Firefox 19+ */
    font-size: 0.7em;
  }
.login-register input:-ms-input-placeholder { /* IE 10+ */
    font-size: 0.7em;
  }
.login-register input:-moz-placeholder { /* Firefox 18- */
    font-size: 0.7em;
  }

.card-body .p-viewer-l, .p-viewer-r {
    float: right;
    margin-top: -30px;
    margin-right: 5px;
    position: relative;
    z-index: 1;
    cursor:pointer;
  }
  
.card-body .fa-eye {
    color: #000;
  }

.login-register .form-group .sign-in:hover {
    background-color: #3cb19f;
}